* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.banner {
  width: 100%;
  height: 250px;
  object-fit: fill;
}

.my-navbar {
  justify-content: center;
  gap: 20px;
}

.modal-title {
  font-weight: bold;
}

.form-group label {
  font-weight: bold;
}

.error {
  font-style: italic;
  color: red;
}
